.lv1{
    background: #4297D7;
    color: #ffff;
    min-height: 84px;
}

.header-text{
    min-height: 84px;
}

.header-text img{
    margin-left: 30px;
}

.header-text h1{
    font-size: 30px;
    margin-left: 85px;
}

nav{
    background: #3474A5;
    height: 64px;
}

.nav-el{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    width: 30%;
}

.nav-link{
    color: white;
    font-size: 14px;
}