.lab-card{
    background: #fff;
    border-radius: 8px;
    min-width: 674px;
    min-height: 148px;

}

.lab-card h2{
    font-size: 20px;
}

.lab-card p,a{
    font-size: 16px;
    text-decoration: none;
}

.lab-text{
    padding-top: 20px;
    margin-left: 30px;
}

.lab-card a{
    margin-left: 30px;
}